/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: 'TrajanusBricks';
    src: url('file:///C:\Users\16204\Desktop\CIS400\BleakwindBuffet\Documentation\trajanusbricks\TrajanusBricks.ttf') format('truetype');
}

* {
    font-family: TrajanusBricks;
}

.grid{
    grid-column-gap: 70px;
}

.title{
    text-align: center;
    font-size: 4rem;
}

form#menu-database {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

#search {
    margin-top: 20px;
    grid-column-start: 1;
    grid-row-start: 1;
}

#filters {
    display: flex;
    flex-direction: column;
    align-content: start;
    grid-row-start: 1;
    grid-column-start: 1;
}

#filters input[type=number] {
    width: 3rem;
}

 {
    padding-bottom: 0;
    padding-top: 100px;
}

#results {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
}



ul.menu > li {
    list-style-type: none;
    color: darkslategray;
    border-bottom: 1px dotted lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
}

.combo {
    text-align: center;
    color: #d80000;
    border: 1px solid #d80000;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 1.5rem;
}

.item-name {
    font-size: 1.2rem;
    color: darkslategray;
    margin: 0px;
}

.item-type {
    border-bottom: 1px solid gray;
    margin-top: 20px;
}

.description {
    font-size: 1.2rem;
    margin: 50px;
    margin-top: 0px;
}






/*Pre-made settings*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
